<section>

    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Edit Settings</h2>
        <label for="Calories" class="sr-only">Calories</label>
        <input id="Calories" data-bind="value: calories" type="text" class="form-control" placeholder="Calories" required autofocus>
        <button data-bind="click: save, css: {disabled: !canSend()}" class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
      </form>

    </div> <!-- /container -->

</section>

