<section>
  <h2>Hello <span data-bind="text: username"></span>
        <span data-bind="visible: viewMode">(View Mode)</span>
  </h2>
    <div class='well'>

      <div class="panel panel-success" data-bind="css: {'panel-danger': isDanger}">
        <div class="panel-heading">Total Calories: <span data-bind="text: sumCalories()"></span>
        <br>
        <p data-bind="visible: !viewMode()">
        Daily Target: <span data-bind="text: user().max_calories"></span>
        </p>
        </div>
      <div class="panel-body">
        Filters:
        <button class="btn btn-default" data-bind="click:set_filter('all'), css: {'btn-info': filter().type === 'all'}">All Time</button>
        <button class="btn btn-default" data-bind="click:set_filter('month'), css: {'btn-info': filter().type === 'month'}">This Month</button>
        <button class="btn btn-default" data-bind="click:set_filter('week'), css: {'btn-info': filter().type === 'week'}">This Week</button>
        <button class="btn btn-default" data-bind="click:set_filter('day'), css: {'btn-info': filter().type === 'day'}">Today</button>
        <br>
        At:
        <button class="btn btn-default" data-bind="click:set_time('all'), css: {'btn-info': filter().time_type === 'all'}">Full day</button>
        <button class="btn btn-default" data-bind="click:set_time('breakfast'), css: {'btn-info': filter().time_type === 'breakfast'}">Breakfast</button>
        <button class="btn btn-default" data-bind="click:set_time('lunch'), css: {'btn-info': filter().time_type === 'lunch'}">Lunch</button>
        <button class="btn btn-default" data-bind="click:set_time('dinner'), css: {'btn-info': filter().time_type === 'dinner'}">Dinner</button>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th >What did you eat</th>
            <th>Calories</th>
            <th>DD/MM/YYYY - hh:mm</th>
          </tr>
        </thead>
        <tbody data-bind='foreach: meals'>
          <tr>
            <td>
              <span data-bind="text:content, click:edit, visible:!isVisible()"></span>
              <input type="text" class='form-control' data-bind='value: content, visible:isVisible'/>
            </td>
            <td>
              <span data-bind="text:calories, click:edit, visible:!isVisible()"></span>
              <div class="row">
                <div class="col-xs-7">
                  <input type="number" placeholder="calories" class='form-control' data-bind='value: calories, visible: isVisible' />
                </div>
              </div>
            </td>
            <td>
              <form data-bind="submit:save, visible: id">
              <div class="row">
                <div class="col-lg-6">
                  <div class="input-group">
                    <input placeholder="DD" class='form-control form-date' data-bind='value: day, visible: isVisible' />
                    <input placeholder="MM" class='form-control form-date' data-bind='value: month, visible: isVisible' />
                    <input placeholder="YYYY" class='form-control form-date' data-bind='value: year, visible: isVisible' />
                    <input placeholder="hh" class='form-control form-date' data-bind='value: hours, visible: isVisible' />
                    <input placeholder="mm" class='form-control form-date' data-bind='value: minutes, visible: isVisible' />
                  </div>
                </div>
              </div>
              </form>
              <span data-bind="text:dateTime, click:edit, visible:!isVisible()"></span>
            </td>

            <td data-bind="visible: isVisible">
              <button class="btn btn-default" data-bind='click: save'>
                <span class="fa fa-check"></span>
              </button>
            </td>
            <td data-bind="visible: isVisible">
              <button class="btn btn-default" data-bind='click: remove, css: {hidden: !id()}'>
                <span class="fa fa-trash-o"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      </div> <!-- /Panel -->
      <br/>
    </div>
</section>
