<section>

    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input data-bind="value: username" type="text" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input data-bind="value: password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <button data-bind="click: startLogin, enable: { canLogin }" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p>
        <a href="#new_account">Create account</a>
      </form>

    </div> <!-- /container -->

</section>

