<section>

    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Username</label>
        <input data-bind="textInput: username" type="text" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input data-bind="textInput: password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword2" class="sr-only">Re-type Password</label>
        <input data-bind="textInput: password2" type="password" id="inputPassword2" class="form-control" placeholder="Re-type Password" required>

        <button data-bind="click: createUser, css: {disabled: !canSend()}" class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
      </form>

    </div> <!-- /container -->

</section>

