<section>
  <h2>Hello Admin <span data-bind="text: user().username"><span></h2>
  <div class='well'>
    <ul class="list-group" data-bind="foreach: users">
      <li class="list-group-item" data-bind="text: username, click: $root.select"></li>
    </ul>
  </div>
</section>
