﻿/*!
 * Durandal 2.1.0 Copyright (c) 2012 Blue Spire Consulting, Inc. All Rights Reserved.
 * Available via the MIT license.
 * see: http://durandaljs.com or https://github.com/BlueSpire/Durandal for details
 */

.page-host {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

section {
    margin: 0 20px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.navbar-nav li.loader {
    margin: 12px 20px 0 0;
    visibility: hidden;
}

.navbar-nav li.loader.active {
    visibility: visible;
}

.knockout-samples {
    margin-top: 20px;
}

.planet { background-color: #AAEECC; padding: 0.35em; border: 1px solid silver; margin-bottom: 0.5em; font-size: 0.95em; }
.planet.rock { background-color: #EECCAA; }

﻿.configuration, .tweets, .tweets td { font-size: 14px; }
.configuration { background-color: #DEDEDE; border: 2px solid gray; float:left; height: 31em; padding: 0.5em; border-right-width:0; }
.tweets { width: 55%; border: 2px solid gray; height: 31em; overflow: scroll; overflow-x: hidden; background-color: Black; color: White; padding: 0.5em; position: relative; }
.tweets table { border-width: 0;}
.tweets tr { vertical-align: top; }
.tweets td { padding: 0.4em 0.3em .8em 0.4em; border-width: 0; }
.tweets img { width: 10em; }
.tweetInfo { color: Gray; font-size: 0.9em; }
.twitterUser { color: #77AAFF; text-decoration: none; font-size: 1.1em; font-weight: bold; }
input.invalid { border: 1px solid red !important; background-color: #FFAAAA !important; }

.listChooser select, .listChooser button { vertical-align:top; }
.listChooser select { width: 60%; font-size:1.2em; height:1.4em; }
.listChooser button { width: 19%; height:1.68em; float:right; }

.currentUsers { height: 24em; overflow-y: auto; overflow-x: hidden; }
.currentUsers button { float: right; height: 2.5em; margin-top: 0.4em; margin-right: 0.2em; padding-left: 1em; padding-right: 1em; }
.currentUsers ul, .configuration li { list-style: none; margin: 0; padding: 0 }
.currentUsers li { height: 2.4em; font-size: 1.2em; background-color: #A7D0E3; border: 1px solid gray; margin-bottom: 0.3em; -webkit-border-radius: 5px; -moz-border-radius: 5px; -webkit-box-shadow: 0 0.2em 0.5em gray; -moz-box-shadow: 0 0.2em 0.5em gray; }
.currentUsers li div { padding: 0.6em; }
.currentUsers li:hover { background-color: #EEC; }

.configuration form label { width: 25%; display: inline-block; text-align:right; overflow: hidden; }
.configuration form input { width:40%; font-size: 1.3em; border:1px solid silver; background-color: White; padding: 0.1em; }
.configuration form button { width: 20%; margin-left: 0.3em; height: 2em; }

.loadingIndicator { position: absolute; top: 0.1em; left: 0.1em; font: 0.8em Arial; background-color: #229; color: White; padding: 0.2em 0.5em 0.2em 0.5em; display: none; }

.configuration select { height: 1.7em; }
.configuration button { height: 2em; }
.input-group .form-control.form-date {
    width: 60px;
    display: inline;
}